<div
  ng-class="{'panel panel-default': !data.hide_container}"
  ng-if="::c.hasVariables(data.sc_cat_item._fields) && !c.options.isServiceWorkspace"
>
  <div class="panel-heading" ng-if="!data.hide_container">
    <h3 ng-if="data.itemTitle" class="panel-title">{{data.itemTitle}}</h3>
    <h3 ng-if="!data.itemTitle" class="panel-title">${Variables}</h3>
  </div>
  <div
    ng-class="{'panel-body': !data.hide_container, 'variable-editor': data.hide_container}"
  >
    <sp-model
      form-model="::data.sc_cat_item"
      mandatory="[]"
      read-only="true"
    ></sp-model>
  </div>
</div>
<div
  class="workspace-variables"
  ng-if="::c.hasVariables(data.sc_cat_item._fields) && c.options.isServiceWorkspace"
>
  <div class="variables">
    <sp-model
      form-model="::data.sc_cat_item"
      mandatory="[]"
      read-only="true"
    ></sp-model>
  </div>
</div>
<div ng-if="::!c.hasVariables(data.sc_cat_item._fields)">
  <h4 class="text-a-c">{{::c.data.msg}}</h4>
</div>
